/*Asterisk selector to override default styles added by browser*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
/*Generic project styles*/
    color: #3a3a3a;
}

/*Header*/

header {
    background-color: lightcoral;
}

/*Main body*/

main {
    background-color: lightblue;
/*Make main body take up any surplus room to push footer to bottom of the page*/
    flex: 1 0 auto;
}

/*Footer*/

footer {
    background-color: orange;
}